.chatContainer{
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    

    > header{
        height: calc(7vh - 2px);
        width: calc(100% - 2px);
        background-color: #0466c8;
        display: flex;
        flex-direction: row;
        border: 1px solid black;

        > div{
            position: relative;
            left: 20px;
            width: calc(100% - 40px);
            height: 100%;
            background-color: #0466c8;
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;

            > .friendPicture{
                height: 90%;
                aspect-ratio: 1/1;
                background-color: black;
            }

            > p{
                font-size: 5vh;
                font-weight: 800;
                color: coral;
            }

            > .friendOptions{
                height: 90%;
                aspect-ratio: 1/3;
                background-color: black;
                margin-left: auto;
            }
        }
    }

    > .messagesContainer{
        width: 100%;
        height: 86vh;
        background-color: #00a6fb;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

        > .messageContainer{
            min-width: 5vw;
            max-width: 37vw;
            width: fit-content;
            min-height: 3vh;
            height: fit-content;
            background-color: chocolate;
            margin: 22px;
            margin-bottom: 10px;
            position: relative;
            display: flex;
            flex-direction: row;

            > .messageReaction{
                position: absolute;
                top: 0px;
                width: 15px;
                height: 15px;
                background-color: black;
            }

            > p{
                margin-left: 23px;
                font-size: 2.2vh;
            }

            > .cutDiv{
                width: 15px;
                position: absolute;
                height: calc(100% - 15px);
                bottom: 0;
                background-color: #00a6fb;
            }
        }
    }

    > footer{
        width: calc(100% - 2px);
        height: calc(7vh - 2px);
        background-color: bisque;
        display: flex;
        align-items: center;
        border: 2px solid black;

        > div{
            display: flex;
            flex-direction: row;
            gap: 5vw;
            align-items: center;
            width: 100%;
            height: 50%;

            > .messageInputContainer {
                width: 80%;
                height: 100%;
                background-color: white;
                border-left: 10px solid bisque;
                display: flex;
                flex-direction: row;
                gap: 5vw;

                > input{
                    height: 100%;
                    width: 270%;
                    position: relative;
                    left: 7px;
                }

                > input:focus{
                    outline: none;
                }

                > img{
                    height: 100%;
                    width: 10%;
                    background-color: white;
                    cursor: pointer;
                }

                
            }

            > div{
                    height: 80%;
                    width: 200px;
                    background-color: black;
                    color: bisque;
            }
        }
    }
}


.messageContainer{
    min-width: 5vw;
    max-width: 37vw;
    width: fit-content;
    min-height: 3vh;
    height: fit-content;
    background-color: chocolate;
    margin: 22px;
    position: relative;
    display: flex;
    flex-direction: row;

    .messageReaction{
        position: absolute;
        top: 0px;
        width: 15px;
        height: 15px;
        background-color: black;
    }

    > p{
        margin-left: 23px;
        font-size: 2.2vh;
    }

    > .cutDiv{
        width: 15px;
        position: absolute;
        height: calc(100% - 15px);
        bottom: 0;
        background-color: #00a6fb;
    }
}