@mixin buttonsStyle{
    width: 40%;
    place-self: center;
    aspect-ratio: 1;
}
@mixin imgStyle{
    width: 100%;
    align-self: center;
    cursor: pointer;
}

@mixin hoverImg{
    animation-name: buttonsHover;
    animation-direction: normal;
    animation-duration: 2s;
    background-color: #33415c;
}

*, ::after, ::before{
    border: 0;
    padding: 0;
    margin: 0;
}

.userContainer{
    width: 15vw;
    height: 100vh;
    background-color: #002855;
    display: flex;
    flex-direction: column;

    > .user-showcase{
        place-self: center;
        width: 80%;
        aspect-ratio: 3/1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        > img{
            height: 80%;
            aspect-ratio: 1/1;
            background-color: black;
        }

        > p{
            font-size: 3vh;
            color: palegreen;
        }
    }

    > .users {
        width: 100%;
        flex: 1 0 auto;
        background-color: #023e7d;
        place-self: center;
        display: flex;
        justify-content: flex-start;
        gap: 1vh;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
      
        > .friendCard {
          width: 90%;
          background-color: #b7e4c7;
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 10px;
          height: 5vh;
          cursor: pointer;

          > img{
            height: 90%;
            aspect-ratio: 1/1;
            background-color: black;
            border-radius: 100%;
          }

          > p{
            overflow-y: hidden;
          }
        }
    }

    > .users::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    > .buttonContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: flex-end;

        > .friendRequests{
            @include buttonsStyle();
            height: auto;
            display: flex;
            > img{
                @include imgStyle();
            }

            > img:hover{
                @include hoverImg();
            }
        }

        > .settingsDiv{
            margin-top: auto;
            @include buttonsStyle();
            > img{
                @include imgStyle();
            }

            > img:hover{
                @include hoverImg();
            }
        }

    }
}

@keyframes buttonsHover {
    from{
        background-color: #002855;
    }
    to{
        background-color: #33415c;
    }
}