.serverChatBody{
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .serverChatContainer{
        height: 100vh;
        width: 70vw;
        background-color: coral;
        position: relative;
    
        .triggerServerInfo{
            position: absolute;
            top: 0;
            right: 0;
            height: 30px;
            width: 30px;
            background-color: black;
            cursor: pointer;
        }
    
        .serverHeader{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: calc(100% - 2px);
            height: calc(7vh - 2px);
            border: 1px solid black;
            background-color: #1951a1;
    
            .serverImage{
                height: 80%;
                aspect-ratio: 1/1;
                background-color: black;
                margin: 4%;
            }
    
            .serverName{
                color: chartreuse;
                font-size: 6vh;
            }
        }
    }
    
    .serverOptionsContainer{
        width: 20vw;
        height: 100vh;
        background-color: darkcyan;
        position: absolute;
        right: 0;

        > .sectionTitle{
            font-size: 2.5vw;
            color: palegreen;
        }

        > .settingCard{
            font-size: 1.7vw;
            margin-top: 6px;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 2vw;
            text-indent: 12px;
            overflow: hidden;
        }

    }
}