.serverOptions{
    width: 85vw;
    height: 100vh;
    background-color: darkblue;

    .options{
        width: 80%;
        height: 100vh;
        background-color: #F3B664;

        .optionsContainer{
            width: 100%;
            height: 100%;
            position: relative;

            .createChannel{
                    background-color: #EC8F5E; 
                    display: flex;
                    flex-direction: row;
                    height: 10vh;
                    width: 58vw;
                    margin-left: auto;
                    gap: 0.8vw;
                    position: relative;

                    .confirmChannel{
                        background-color: #EC8F5E;
                        color: red;
                        border: 2px solid black;
                        position: absolute;
                        right: 120px;
                        bottom: 2%;
                        font-size: 2vh;
                        cursor: pointer;
                    }

                    .channelNameContainer{
                        align-items: center;

                        input{
                            border: 2px solid black;
                            height: 2vh;
                            font-size: 2vh;
                        }
                    }

                    div{
                        margin-left: 14px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
            }


            .globalUserSettings{
                width: calc(100% - 10vw);
                height: 80vh;
                position: relative;
                left: 10vw;
                background-color: #F3B664;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .userCardGlobalSettings{
                    margin-left: 5%;
                    margin-top: 8px;
                    width: 90%;
                    aspect-ratio: 4/1;
                    background-color: #F3B664;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .profileImg{
                        height: 70%;
                        background-color: black;
                        aspect-ratio: 1/1;
                        margin-left: 5px;
                    }

                    .userCardName{
                        font-size: 3vh;
                        color: rebeccapurple;
                        margin-left: 4px;
                        max-width: 40%;
                    }

                    .accept{
                        background-color: forestgreen;
                        height: 30%;
                        aspect-ratio: 1/1;
                        margin-left: 10px;
                        cursor: pointer;
                    }

                    .refuze{
                        background-color: red;
                        height: 30%;
                        aspect-ratio: 1/1;
                        margin-left: 10px;
                        cursor: pointer;
                    }

                    .userCardSettings{
                        position: absolute;
                        width: fit-content;
                        height: fit-content;
                        background-color: burlywood;
                        left: 80%;

                        .optionsUserCard{
                            cursor: pointer;
                            border: 2px solid black;
                        }
                    }

                }

                .globalSettingsUsersContainer{
                    height: 100%;
                    width: 20vw;
                    background-color: #9FBB73;
                    overflow-y: auto;
                    border: 2px solid black;
                    overflow-x: hidden;
                }

            }

            .deleteServer{
                background-color: red;
                font-size: 4vh;
                width: fit-content;
                border: 3px solid black;
                position: relative;
                top: 20px;
                left: 40%;
                cursor: pointer;
            }


            .channels{
                position: absolute;
                top: 0;
                width: 10vw;
                height: 100%;
                background-color: #F5CCA0;

                .channelsSectionName{
                    font-weight: 600;
                    font-size: 1.8vw;
                }

                .globalSettings{
                    color: red;
                    border: 2px solid red;
                    cursor: pointer;
                    margin-bottom: 15px;
                    font-weight: 400;
                    margin-top: 20px;
                    font-size: 1.4vw;
                    margin-left: 1px;
                }

                .channel{
                    cursor: pointer;
                    margin-bottom: 6px;
                    margin-left: 2px;
                    overflow: hidden;
                }
            }

            .channelOptions{
                width: 58vw;
                height: 100vh;
                background-color: #F3B664;
                align-self: flex-end;
                position: absolute;
                bottom: 0;
                right: 0;

                .channelOptionHeader{
                    width: 58vw;
                    height: 10vh;
                    background-color: #EC8F5E;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    p{
                        margin-left: 10px;
                    }

                    .channelName{
                        font-size: 2vw;
                        width: 25vw;
                        overflow: hidden;
                        text-wrap: nowrap;
                    }

                    button{
                        cursor: pointer;
                        background-color:darkolivegreen;
                        color: black;
                        margin-left: auto;
                    }

                    .channelPrivacyOptions{
                        margin-left: auto;
                        height: 100%;
                        margin-right: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        div{
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }

                .serverUsers{
                    width: 90%;
                    min-height: 7vh;
                    background-color: aqua;
                    margin-left: 5%;
                    display: flex;
                    flex-wrap: wrap;

                    .userCard{
                        flex: 0 0 auto;
                        height: 7vh;
                        margin: 1vh;
                        width: 25vh;
                        background-color: green;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        position: relative;

                        .cardImg{
                            height: 80%;
                            background-color: black;
                            aspect-ratio: 1/1;
                            margin: 5%;
                        }

                        .cardName{
                            font-size: 3vh;
                            color: cadetblue;
                        }

                        .cardOptions{
                            position: absolute;
                            left: calc(100% - 20px);
                            width: fit-content;
                            background-color: gray;
                            cursor: pointer;
                            z-index: 9999;

                            .setAccesibility{
                                white-space: nowrap;
                            }
                        }


                    }
                }
            }
        }
    }
}