*, ::after, ::before{
    margin: 0;
    border: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0;

    .joinServerContainer{
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9000;

        .joinServer{
            height: 40vh;
            aspect-ratio: 6/3;
            background-color: cyan;
            z-index: 9999;
            display: flex;
            flex-direction: column;

            header{
                width: 100%;
                height: 40%;
                background-color: darkcyan;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                p{
                    color: palevioletred;
                    font-size: 3vh;
                    cursor: pointer;
                }

                input{
                    width: 60%;
                    height: 3vh;
                }
            }

            .serverCardContainer{
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                .serverCard{
                    height: 70%;
                    aspect-ratio: 3/1;
                    background-color: grey;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;

                    .serverImage{
                        height: 80%;
                        aspect-ratio: 1/1;
                        background-color: black;
                        margin-left: 10px;
                    }

                    p{
                        color: greenyellow;
                        margin-left: 10px;
                        font-size: 3vh;
                    }
                }
            }
        }
        .noServerFound{
            font-size: 5vh;
            color: darkgoldenrod;
            align-self: center;
        }
    }

    .createServerContainer{
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9000;

        .serverOptionsHeader{
            height: 40vh;
            width: 80vh;
            background-color: aqua;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            p{
                font-size: 4vh;
                margin-left: 1vh;
                margin-top: 1vh;
            }
    
            .createServerOptions{
                width: 100%;
                flex: 1;
                display: flex;
    
                .inputDataContainer{
                    margin-left: 1vw;
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    gap: 2vh;
                }
            }
    
            .confirmNewServer{
                cursor: pointer;
                place-self: center;
            }
    
        }
    }

    > .categorys{
        width: 15vw;
        height: 100vh;
        background-color: cadetblue;
        display: flex;
        flex-direction: column;
        gap: 1vh;

        > section{
            width: calc(100% - 4px);
            height: 5vw;
            background-color: blanchedalmond;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            cursor: pointer;

        }
    }
}