@mixin positionAndMarginButtons($border, $distanceRight, $color){
    background-color: $color;
    position: relative;
    right: $distanceRight;
    border: solid $border $color;
    border-radius: 1vw 0px;
}
@mixin linkText{
    color: #373571;
    font-weight: 700;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 14vh;
    background-color: #252526;
    display: flex;
    color: #947367;
    flex-direction: row-reverse;
    align-items: center;
    .log-in{
        .link{
            @include linkText()
        }
        @include positionAndMarginButtons(10px ,40px ,#9a9b76 );
    }
    .create-account{
        .link{
            @include linkText()
        }
        @include positionAndMarginButtons(10px ,80px ,#3b5c77 );
    }
    .app-name{
        align-self: center;
        position: absolute;
        left: 2vw;
        font-size: 4vw;
        font-weight: 500;
        font-style: italic;
    }
}